$light-green-color: #7ed56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;
$secondary-background: #f7f7f7;
$white-color: #fff;
$grey-color: #777;
$medium-yellow-color: #ffb900;
$dark-yellow-color: #ff7730;
$medium-blue-color: #2998ff;
$dark-blue-color: #5643fa;
$color-white:#fff;
$color-black:#000;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
